body {
    min-width: 160px;
}

.btn {
  width: 90%;
  text-align: center;
  border: 2px solid #9ec34b;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 4px;
  transition: .4s;
}

.btn:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}
